*.msh
*.unv
*.vtk
*.frd
*.cvg
*.sta
*.sigmay
*.time
*.dat
*.dats
*.pdf
*.svg
sparselizard
output
base-stage1*
le10-*.export
le10-tet-*.inp
le10-hex-*.inp
le10_mesh-*.inp
le10_spooles*.inp
le10_diagonal*.inp
le10_cholesky*.inp
message*
DD*.txt
*.12d
spooles.out
unical1
plot.gp
plot-sigmay.gp
