# autoconf stuff
.dirstamp
Makefile
Makefile.in
src/Makefile.am
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
config.h
config.h.in
stamp-h1
configure
depcomp
install-sh
missing
test-driver
test-suite.log
version.m4
versiongit.m4
ChangeLog
.deps
*.Po

# doc
/README.html
README*.pdf
TODO.markdown
download.html
hash.yaml
examples/README.html
README4academics.html
README4engineers.html
README4hackers.html
TODO

# binaries, tarballs and libraries
feenox-v*
feenox
src/libfeenox.a
src/feenox
feenox.exe
src/feenox.exe
gsl-*
*.tar.gz


# config_links
auto_links.m4

# netbeans IDE project
nbproject

# outputs of "make check"
mesh2d.msh
mesh2d.vtk
laplace-square.msh
nafems-t4-result.msh
nafems-le1*.vtk
two-cubes-*.vtk
parallelepiped-*.msh
encased_rod*.vtk
nafems-le*.msh
spinning-disk-*.msh
square-f.msh
square_tmp.vtk
cube-radial.vtk
long-bar-*.msh
map-*.msh
mesh2d.vtk
spinning-disk-parallel-*.vtk
thermal-square*.msh
thermal-square.vtk
thermal-two-squares-*.msh
ray-effect-*-?.msh
orthotropic-beam-*.msh
heater-cylinder-inches.vtk
poisson-square.msh
reaction-force.vtk
ray-effect-diffusion-*.msh
bunny*.vtk
bunny*.msh
2dpwr-*.vtk
two-is-2.txt
circle*.msh
airfoil-converged.msh
airfoil-converged.vtk
circle_perimeter*.dat
wilson-2d*.vtk
