# autoconf stuff
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver
test-suite.log
version.m4

# doc
README.pdf

# binaries, tarballs and libraries
feenox
feenox.exe
gsl-*
*.tar.gz

# netbeans IDE project
nbproject

# outputs of "make check"
mesh2d.msh
laplace-square.msh
