*.txt
*.log
*.trs
*.last
*.m
tmp.*
mesh2d.msh
square-centered.msh
laplace-square.msh
nafems-t1.msh
nafems-t4.msh
nafems-le10.msh
nafems-le11-*.msh
2dpwr-*.msh
parallelepiped*.msh
nafems-t4-result.msh
nafems-le1-*.vtk
nafems-le11-*.vtk
i-beam*.msh
K.m
K_bc.m
b.m
b_bc.m
cube.msh
cube-*.vtk
two-cubes-*.vtk
two-cubes.msh
pellet*.msh
pellet*.vtk
encased_rod.msh
encased_rod*.vtk
spinning-disk*.dat
spinning-disk*.msh
spinning-disk*.vtk
annulus.msh
annulus-modal.vtk
modal-annulus.json
square-f.msh
square-out.msh
output
rectangular_plate_with_hole.msh
rectangular_plate_with_hole.vtk
statically_indeterminate_reaction.msh
long-bar-*.msh
wilson*.msh
map-*.msh
orthotropic-beam-*.msh
heater-cylinder-inches.msh
heater-cylinder-inches.vtk
reaction-force.vtk
la-IN.msh
la-p*.msh
la-p*.vtk
