## Verification {#sec:verification}

The source code should be available for verification by independent third parties.
Changes in the source code should be controllable, traceable and well documented.
Stable releases ought to be digitally signed by a responsible engineer.
