## Verification {#sec:verification}

The source code should be available for verification by independent third parties.
Changes in the source code should be controllable, traceable and well documented.
Stable releases ought to be digitally signed by a responsible engineer.

Whenever a verification task is performed and documented, at least one test should be added to the test suite. These tests should check that the verified features are kept by future changes and no regressions that break the verification are introduced. Verifications that the tool fails when it is expected to fail are encouraged as much as positive verifications that results are the expected ones.

