Makefile
Makefile.in
texinfo.tex
feenox-desc.info
*.pdf
example10.1
gmsh.1
pandoc.1.md
defs.h
hash.yaml
date.yaml
*.log
*.aux
*.toc
reference-*.md
repository-open-graph.png
feenox-desc.t2p/
logo.pdf
lorenz.pdf
nafems-le10-problem-input.pdf
