Makefile
Makefile.in
texinfo.tex
feenox-desc.info
example10.1
gmsh.1
pandoc.1.md
defs.h
hash.yaml
date.yaml
*.log
*.aux
*.toc
*.pdf
*.eps
reference-*.md
repository-open-graph.png

feenox-desc.texi
feenox-desc.t2p/
feenox-desc.html/

README
README.html
README-doc
CODE_OF_CONDUCT
CODE_OF_CONDUCT.html
FAQ
FAQ.html
compilation
compilation.html
feenox-manual
feenox-manual.markdown
feenox-manual.tex
feenox-manual.html
feenox.1.html
programming
programming.html
sds
sds.markdown
sds.html
sds.tex
srs
srs.markdown
srs.html
srs.tex
history.html
history

two-squares.msh
two-squares.vtk
two-squares-results.msh
nafems-t3.dat
slab*.msh
wire-hex.msh
maze.msh
square-centered.msh
laplace-square.vtk
square-centered-unstruct.msh
thermal-1d-transient.dat
thermal-square-temperature.msh
mechanical-square-uniform.vtk
mechanical-square-temperature.vtk
mechanical-square-temperature-from-msh.vtk
fins.msh
fins.vtk
