todo
gmsh.py
lib*
__pycache__/
cosas
test.fee
lorenz.dat
lorenz.html
maze*.msh
maze-solved.msh
maze-tran*.msh
maze-*.png
maze*.gif
maze*.mp4
*-post.sh
add
nafems-le10.msh
cantilever*.msh
cantilever*.dat
fork*.msh
fork.dat
*.vtk
nafems-le11.msh
nafems-le1.msh
nafems-le1.pvsm
iaea-2dpwr*.msh
cubesphere*.msh
temp-cylinder*.png
*.mp4
parallelepiped*.vtk
cylinder.msh
temp-cylinder.msh
wire-*.msh
cube-hex.msh
cube-tet.msh
cube-orthotropic-expansion.pvsm
veeder-veeder-displacements.pdf
veeder.msh
veeder.pvsm
veeder.vtk
veeder_v.dat
veeder_w.dat
thermal-square-temperature.msh
square-centered-unstruct.msh
square-centered.msh
wilson-*.msh
two-zone-*.dat
two-zone-*.msh
ab.geo
bunny.msh

reed*.csv
reed.msh


examples_sections.md
basic.html
daes.html
laplace.html
mechanical.html
modal.html
neutron_diffusion.html
neutron_sn.html
thermal.html

basic.pdf
daes.pdf
laplace.pdf
mechanical.pdf
modal.pdf
neutron_diffusion.pdf
neutron_sn.pdf
thermal.pdf

two-cubes-thermal.dat
two-cubes-thermal.pdf
two-cubes.msh
two-cubes2.msh

iaea-3dpwr-eighth.msh
iaea-3dpwr-quarter.msh
*.geo_unrolled
double*.tsv
