todo
gmsh.py
lib*
__pycache__/
cosas
test.fee
lorenz.dat
lorenz.html
maze*.msh
maze-solved.msh
maze-tran*.msh
maze-*.png
maze*.gif
maze*.mp4
*-post.sh
add
nafems-le10.msh
cantilever*.msh
cantilever*.dat
fork*.msh
fork.dat
*.vtk
*.vtu
*.pvd
nafems-le11.msh
nafems-le1.msh
nafems-le1.pvsm
iaea-2dpwr*.msh
cubesphere*.msh
temp-cylinder*.png
*.mp4
cylinder.msh
temp-cylinder.msh
wire-*.msh
cube-hex.msh
cube-tet.msh
cube-orthotropic-expansion.pvsm
veeder-veeder-displacements.pdf
veeder.msh
veeder.pvsm
veeder_v.dat
veeder_w.dat
thermal-square-temperature.msh
square-centered-unstruct.msh
square-centered.msh
wilson-*.msh
wilson-*.vtu
two-zone-*.dat
two-zone-*.msh
ab.geo
bunny.msh

reed*.csv
reed.msh


examples_sections.md
basic.html
daes.html
laplace.html
mechanical.html
modal.html
neutron_diffusion.html
neutron_sn.html
thermal.html

basic.pdf
daes.pdf
laplace.pdf
mechanical.pdf
modal.pdf
neutron_diffusion.pdf
neutron_sn.pdf
thermal.pdf

two-cubes-thermal.dat
two-cubes-thermal.pdf
two-cubes.msh
two-cubes2.msh

iaea-3dpwr-eighth.msh
iaea-3dpwr-quarter.msh
*.geo_unrolled
double*.tsv
Stanford_Bunny.stl

boiling*.dat
boiling*.pdf

azmy*.msh
azmy-4*.png
azmy-6*.png
azmy-8*.png
azmy-*.dat
azmy-profile*
azmy-angle-*
azmy-full-*.pdf
azmy-full-fixed-theta-fixed-c.ppl
azmy-full-fixed-theta-fixed-sn.ppl
azmy-full-fixed-sn-fixed-c.ppl
azmy-full*.svg

output

wing*.msh
wing.brep
wing.xao

buffon*.dat

barra3d.msh
barra3d-transient.msh
barra3d.pdf
profile-0.dat
profile-1.dat
profile-10.dat
profile-100.dat
profile-1000.dat
profile-500.dat
profiles.dat

gnl-straight-cantilever.msh

steel-alum.msh
steel-alum-alum.vtu
steel-alum-steel.vtu

