todo
gmsh.py
lib*
__pycache__/
cosas
test.fee
lorenz.dat
lorenz.html
maze*.msh
maze-solved.msh
maze-tran*.msh
maze-*.png
maze*.gif
maze*.mp4
*-post.sh
add
nafems-le10.msh
cantilever*.msh
cantilever*.dat
fork*.msh
fork.dat
*.vtk
nafems-le11.msh
nafems-le1.msh
nafems-le1.pvsm
iaea-2dpwr*.msh
cubesphere*.msh
temp-cylinder*.png
*.mp4
parallelepiped*.vtk
cylinder.msh
temp-cylinder.msh
wire-*.msh
cube-hex.msh
cube-tet.msh
cube-orthotropic-expansion.pvsm
veeder-veeder-displacements.pdf
veeder.msh
veeder.pvsm
veeder.vtk
veeder_v.dat
veeder_w.dat
thermal-square-temperature.msh
square-centered-unstruct.msh
square-centered.msh
wilson-*.msh
